@use '../../utils/variable';

.actu {
    &-header {
        width: 100%;
        padding: 5rem 6rem 1rem 6rem;
        background: variable.$tertiary;
        min-height: 100vh;

        &-img {
            border-radius: 1rem;
            text-align: center;
            position: absolute;
            width: 100%;

            &-content {
                position: relative;
                width: 100%;
                height: 35vw;
                overflow: hidden;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &-desc {
            &-title {
                color: variable.$primary;
                margin: 0 0 1rem 0;
            }
            &-para {
                color: variable.$primary;
            }
        }
    }
}
