@use '../../utils/variable';

// login and signin
.login {
    background: variable.$primary;
    min-height: 100vh;
    padding: 8rem 4rem;

    &-content {
        max-width: 35rem;
        margin: auto;
        background: variable.$tertiary;
        padding: 2rem;
        border-radius: 1rem;
        position: relative;
    }
    &-icon {
        position: absolute;
        top: -3.5rem;
        background: variable.$tertiary;
        padding: 1.4rem 1.6rem;
        border-radius: 50%;
        font-size: 2.3rem;
        color: variable.$primary;
        left: 50%;
        transform: translateX(-50%);
        border: .5rem solid variable.$primary;
    }
    &-subtitle {
        margin: 2rem 0 1rem 0;
        text-align: center;
    }
}
.form {
    &-content {
        position: relative;
    }
    &-icon {
        position: absolute;
        top: 1.7rem;
        left: 1rem;
        color: variable.$primary;
    }
    &-icon::after {
        content: '';
        background: variable.$primary;
        width: .05rem;
        height: .8rem;
        position: absolute;
        left: 1.6rem;
        top: .2rem;
    }
    &-label {
        position: absolute;
        left: 1.5rem;
        top: .1rem;
        background: variable.$tertiary;
        padding: 0 .2rem;
        color: variable.$primary;
    }
    &-input {
        padding: .8rem 3.2rem;
        width: 100%;
        margin: .8rem 0;
        border: 1px solid #b7b7b7;
        outline: none;
        font-size: 1rem;
        border-radius: 2rem;
        transition: .3s;
        background: transparent;
        color: variable.$primary;
    }
    &-input:hover {
        border: 1px solid #43a8ff;
    }
    &-input:focus {
        border: 1px solid #43a8ff;
        box-shadow: 0 0 17px #39a0e961;
    }
    &-link {
        color: variable.$secondary;
    }
    &-link:hover {
        text-decoration: underline;
    }
}

