@use '../../utils/variable';

.match {
    padding: 6rem 5rem;
    min-height: 100vh;

    &-content {
        text-align: center;
        &-title {
            margin-bottom: 1.5rem;
        }
        &-item {
            background: variable.$primary;
            color: variable.$tertiary;
            padding: 2rem;
            margin: 1rem 0;
            border-radius: 1rem;

            &-container {
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;

                &-para {
                    background: variable.$secondary;
                    padding: .2rem .3rem;
                    border-radius: .4rem;
                }
                &-line {
                    display: none;
                }
            }
        }
        &-para {
            margin: 1rem 0 .5rem 0;
        }
    }
}
