@use '../../utils/variable';

.ticket-cart {
    padding: 4rem 0;
    min-height: 100vh;

    &-header {
        background: variable.$tertiary;
        padding: 1rem 5rem;
    }
    &-main {
        // padding: 1rem 5rem;
        &-list {
            padding: .5rem 5rem;
            &-item {
                &-desc {
                    border-radius: 1rem;
                    border: 1px solid #bbbbbbd7;
                    overflow: hidden;
                    &-header {
                        background: variable.$tertiary;
                        padding: .5rem;
                    }
                    &-main {
                        padding: .5rem;
                        background: variable.$primary;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}
