
/* The container */
.container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 0;
    margin: .6rem 0 1rem .5rem;
}

.checkbox-content {
    margin: 1rem 0 1.5rem .5rem;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #0f909c;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #05161a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: .4rem;
    top: .2rem;
    width: .2rem;
    height: .5rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
