@use '../utils/variable';
@use '../bases/base';

// Navbar
.nav {
    position: fixed;
    width: 100%;
    z-index: 5;

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: variable.$primary;
        padding: 0 4rem;
    }
    &-item {
        display: flex;
        align-items: center;
    }
    &-logo {
        width: 2rem;
    }
    &-link {
        padding: 1rem;
        color: variable.$tertiary;
        transition: .3s;

        &-btn {
            background: transparent;
            border: none;
            cursor: pointer;
            font-size: 1rem;

            &-menu {
                cursor: pointer;
                display: none;

                &-close {
                    display: none;
                }
            }
        }
    }
    &-link:hover {
        color: variable.$secondary
    }
}
