@use '../utils/variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
}

@font-face{
    font-family: 'ubuntu';
    src: url('/fonts/Ubuntu-Light.ttf');
    font-display: swap;
}

html {font-size: 100%;}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.title {
    color: variable.$tertiary;
    font-size: 2rem;
}
.title-primary {
    font-size: 2rem;
    color: variable.$primary;
}
.title-secondary {
    font-size: 2rem;
    color: variable.$secondary;
}
.subtitle {
    font-size: 1.2rem;
    color: variable.$tertiary;
}
.subtitle-primary {
    font-size: 1.2rem;
    color: variable.$primary;
}
.subtitle-secondary {
    font-size: 1.2rem;
    color: variable.$secondary;
}
.para {
    font-size: 1rem;
    color: variable.$tertiary;
}
.para-primary {
    font-size: 1rem;
    color: variable.$primary;
}
.para-secondary {
    font-size: 1rem;
    color: variable.$secondary;
}

.btn {
    border: none;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    padding: .9rem 2rem;
    border-radius: .5rem;
    margin: .5rem 0;
    transition: .3s;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    transition: .3s;
}
.btn:hover {
    gap: .7rem;
}
.btn-primary {
    background: variable.$primary;
    color: variable.$tertiary;
}
.btn-primary:hover {
    box-shadow: 0 0 16px #072f3fda;
}
.btn-tertiary {
    background: variable.$tertiary;
    color: variable.$primary;
}
.btn-primary:hover {
    box-shadow: 0 0 16px #c7c7c7da;
}
.btn-border-primary {
    border: 1px solid variable.$primary;
    color: variable.$primary;
}
.btn-border-primary:hover {
    background: variable.$primary;
    color: variable.$tertiary;
}
